.animation-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.snowfall {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100vh;
    width: 25%;
}
.snowfall:nth-child(1) {
    left: 0;
    background: linear-gradient(90deg, rgba(0,111,211,0.7) 0%, rgba(255, 255, 255, 0));
}
.snowfall:nth-child(2) {
    right: 0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(0,111,211,0.7));
}
.snowflake {
    --size: 3em;
    width: var(--size);
    height: var(--size);
    position: relative;
    top: -5vh;
}

@keyframes fall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}

@for $i from 1 through 50 {
    .snowflake:nth-child(#{$i}) {
      --size: #{random(5) * 0.5}em;
      --left-ini: #{random(20) - 15}vw;
      --left-end: #{random(20) - 15}vw;
      left: #{random(10)}vw;
      animation: fall #{10 + random(15)}s linear infinite;
      animation-delay: -#{random(15)}s;
    }
  }