@import ../styles-var.sass
  
article
    font-size: 16px
    text-align: center
    z-index: 3
    width: 90%
    max-width: 1300px
    text-align: center
    margin: auto
    position: relative
    background-color: $zima-xxxs-transparent
    nav
        background-color: $zima-xxxs-svetla
        border-bottom: 3px solid $zima-extra-svetla
        width: 100%
        position: sticky
        z-index: 1
        top: 0
        span
            font-family: $font-subnav
            text-transform: uppercase
            font-weight: 700
            font-size: 1.2em
            display: inline
            padding: 0.5em
            transition: background 0.8s ease
            &:hover
                background-color: $zima-xxs-svetla
                cursor: pointer
                transition: background 0.8s ease
            &:active
                color: $zima-original
            @media (max-width: $screen-m)
                font-size: 1.15em
            @media (max-width: $screen-s)
                font-size: 1em
        .selected
            color: $zima-svetla
    section
        padding-bottom: 2em
        margin-bottom: 2em
        h2
            font-family: $font-subheader
            font-size: 1.8em
            color: $zima-temna
        .aktivnosti
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            figure
                display: flex
                flex-flow: row
                position: relative
                overflow: hidden
                border-bottom-right-radius: 30%
                &:hover
                    box-shadow: 0 0 0.3em 0.3em $zima-m-transparent
                &:hover figcaption
                    opacity: 1
                    top: 0
                @media (max-width: $screen-m)
                    justify-content: center
                    width: 90%
                    margin: 0.5em auto 
                img
                    z-index: -1
                    max-width: 18em
                    width: 100%
                    @media (max-width: $screen-m)
                        width: 50%
                    @media (max-width: $screen-s)
                        width: 100%
                figcaption 
                    background-color: $zima-xxxs-transparent
                    position: absolute
                    font-family: $font-subheader
                    font-size: 1.5em
                    color: $zima-extra-temna
                    z-index: -1
                    width: 10em
                    padding: 0.6em
                    opacity: 0
                    border-bottom-right-radius: 30%
                    top: -30%
                    transition: all 0.6s ease
                    @media (min-width: $screen-xxl)
                        position: relative
                        opacity: 1
                    @media (max-width: $screen-activities)
                        position: relative
                        opacity: 1
                    @media (max-width: $screen-s)
                        position: absolute
                        opacity: 0
                button
                    display: block
                    width: 80%
                    margin: auto
                    margin-top: 0.5em
                    padding-top: 0.3em
                    color: $zima-svetla
                    font-size: 1.1em
                    border: none
                    background: none
                
    .to-top
        position: fixed
        bottom: 20px
        right: 10%
        width: 2em
        height: 2em
        // display: none
        border: none
        outline: none
        background-color: $zima-extra-svetla
        color: white
        cursor: pointer
        padding-top: 0.2em
        border-radius: 50%
        font-size: 2em
        &:hover
            background-color: $zima-original
    @media (max-width: $screen-xl)
        max-width: 800px