body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  min-height: 100vh;
}
.subheader {
  text-align: center;
  position: relative;
  z-index: 4;
  padding: 0.7em;
  font-family: 'Kaushan Script', cursive;
  text-shadow: -3px 0 #00376A, 0 3px #00376A, 3px 0 #00376A, 0 -3px #00376A;
  font-size: 2.4em;
  color: #8DBF1D;
}